@using LifeAdmin.ComponentModels

@code {
    [Parameter]
    public required InputComponentModel Model { get; set; }

    [CascadingParameter]
    private StateProvider? StateProvider { get; set; }

    private async Task Save(ChangeEventArgs args)
    {
        if (StateProvider is not null)
        {
            StateProvider.State[Model.Key] = args.Value;
            await StateProvider.SaveChangesAsync();
        }
    }

    private bool ShouldDisplay { 
        get {
            if (Model.DisplayConditions is null || Model.DisplayConditions.Count == 0)
                return true; // unconditional, just show it
            var display = false;
            foreach (var condition in Model.DisplayConditions) {
                // TODO: Dynamically access value from shared state
                //       & return true if any are free
                display = true;
            }
            return display;
        } 
    }
}

<div class="input">

@if("TODO" != "Calculate whether to display myself based on the values of my siblings") {

    <label for="@Model.Key">
        @Model.Label
    </label>
    <input name="@Model.Key"
        id="@Model.Key"
        type="@Model.SubType"
        placeholder="@Model.Placeholder"
        value="@Model.Value"
        required="@Model.Required"
        @onchange="Save"
    />
    <details>
        <summary>Help</summary>
        @Model.HelpText
    </details>
}

</div>

<span>State since I was rendered + my changes</span>
<ul>
@foreach (var s in StateProvider.State) {

    <div>@s.Key = @s.Value</div>
}
</ul>