@using LifeAdmin.ComponentModels
@using System.Text.RegularExpressions
@implements IDisposable
@inject StateContainer StateContainer

@code {
    [Parameter]
    public required InputComponentModel Model { get; set; }

    protected override void OnInitialized()
    {
        StateContainer.OnChange += StateHasChanged;
    }
    public void Dispose()
    {
        StateContainer.OnChange -= StateHasChanged;
    }

    private void Save(ChangeEventArgs args)
    {
        StateContainer.SaveState(new() {
            Key = Model.Key!,
            Value = args.Value
        });
    }

    private bool ShouldDisplay { 
        get {
            if (Model.DisplayConditions is null || Model.DisplayConditions.Count == 0)
                return true; // unconditional, just show it
            var display = false;
            foreach (var condition in Model.DisplayConditions) {
                // TODO: Dynamically access value from shared state
                //       & return true if any are free
                display = true;
            }
            return display;
        } 
    }

    Regex rx = new Regex(@"({(?<token>\w+)})", RegexOptions.Compiled | RegexOptions.IgnoreCase);
    public string? EffectiveLabel { 
        get {
            var label = Model.Label;
            foreach (Match match in rx.Matches(Model.Label!))
            {
                var group = match.Groups["token"];
                //foreach (Group group in match.Groups)
                //{
                foreach (Capture capture in match.Captures)
                {
                    //label += $"<br/>Match: {match.Value}, Group: {group.Value}, Capture: {capture.Value}";
                    StateContainer.State.TryGetValue(group.Value, out var state);
                    label = label.Replace(capture.Value, state?.ToString());
                    }
                //}
            }
            return label;
        } }

}

}

<div class="input">

@if("TODO" != "Calculate whether to display myself based on the values of my siblings") {

    <label for="@Model.Key">
        @EffectiveLabel            
    </label>
    <input name="@Model.Key"
        id="@Model.Key"
        type="@Model.SubType"
        placeholder="@Model.Placeholder"
        value="@Model.Value"
        required="@Model.Required"
        @onchange="Save"
    />
    <details>
        <summary>Help</summary>
        @Model.HelpText
    </details>
}

<details>
    <summary>State available to this component</summary>
    <ul>
    @foreach (var s in StateContainer.State ?? []) {

        <li>@s.Key = @s.Value</li>
    }
    </ul>
</details>

</div>
